<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
         <button class="button button-clear  ion-arrow-left-c" ng-click="back()"></button>
     </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <form class="loginForm">
      <p class="pwText"> Password should be atleast 6 characters long </p>

      <!-- PASSWORD -->
      <label class="item-login item-input item-stacked-label" id="new_password">
        <span class="input-label">New Password</span>
        <input type="password" ng-model="user.changePassword" style="border-bottom:SOLID #D5D3D3 1px;">
      </label>
      <!-- PASSWORD REQUIRED ERROR -->
      <label class="item-login item-input item-stacked-label" id="newpwerror">
        <span class="input-label" color="#003366">New Password</span><label class="errorValid">Required</label>
        <input type="password" ng-model="user.changePassword" style="border-bottom:SOLID #FF5252 1px">
      </label>

      <label class="item-login item-input item-stacked-label" id="confirm_password">
        <span class="input-label">Confirm Password</span>
        <input type="password" ng-model="user.confirmPassword" style="border-bottom:SOLID #D5D3D3 1px;">
      </label>
      <!-- PASSWORD REQUIRED ERROR -->
      <label class="item-login item-input item-stacked-label" id="confirmpwerror">
        <span class="input-label" color="#003366">Confirm Password</span><label class="errorValid">Required</label>
        <input type="password" ng-model="user.confirmPassword" style="border-bottom:SOLID #FF5252 1px">
      </label>
      <p ng-show="errorMsg" class="errorValid"> {{errorMessage}} </p>
      <button class="button button-positive button-block login" ng-disabled="checkPasswordLength()" ng-click="save()">Save</button>
    </form>
  </ion-content>
</ion-view>
