<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
         <button class="button button-clear  ion-arrow-left-c" ng-click="back()"></button>
     </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <form class="loginForm">

      <label class="item-login item-input  item-stacked-label" id="forgotPasswordEmail">
        <span class="input-label" color="#003366">Enter the email address</span>
        <input type="text" ng-model="user.email" style="border-bottom:SOLID #D5D3D3 1px;">
      </label>
      <!-- EMAIL REQUIRED ERROR-->
      <label class="item-login item-input item-stacked-label" id="forgotPasswordEmailError">
        <span class="input-label" color="#003366">Enter the email adress</span><label class="errorValid">Required</label>
        <input type="text" ng-model="user.email" style="border-bottom:SOLID #FF5252 1px">
      </label>
      <p ng-show="errorMsg" class="errorValid"> {{errorMessage}} </p>
      <p> An email will be sent</p>
      <button class="button button-positive button-block login" ng-disabled="checkPasswordLength()" ng-click="sendEmail()">Send</button>
    </form>
  </ion-content>
</ion-view>
