<ion-view>
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
  <ion-content>
    <div class="question-container">
      <div class="item item-divider question-divider">
          {{dataSet.header}}
      </div>
        <p class="question-content">{{dataSet.name}}</p>

      <div ng-if="video">
        <video class="img-question" controls>
          <source ng-src={{trustSrc(videoRef)}} type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div ng-if="img">
        <img  ng-src={{imgRef}} class="img-question"/>
      </div>

      <ion-radio ng-repeat="data in dataSet.options" ng-model="choice.checked" ng-value="data"> {{data}}</ion-radio>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-positive button-block footer"  ng-click="record(choice.checked)" ng-disabled="!choice.checked">
      {{buttonText}}
      <icon class="button-icon ion-arrow-right-c"></icon>
    </button>
  </div>
</ion-view>
