<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
         <button class="button button-clear  ion-arrow-left-c" ng-click="back()"></button>
     </ion-nav-buttons>

     <ion-nav-buttons side="right">
        <button class="button button-clear btn-white " ng-click="logout()">Logout</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <header class="site-header" id="header">

  <h1 class="site-header__title">THANK YOU!</h1>

    <i class="ion-checkmark-round"></i>
</header>

<div class="main-content">
  <p class="thankyou-content" data-lead-id="main-content-body">Thanks for answering the questions. We really appreciate you spending your valuable time today.</p>
</div>


<footer class="site-footer" id="footer">
</footer>

</ion-content>
<div class="bar bar-footer thankyou">
<p class="copyright-text">Copyright ©2017 | All Rights Reserved</p>
</div>
</ion-view>
